@import "../../_globalColor";

.podcast-header-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 0px;
}

.podcast-main-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; // 或 center，如果你想居中对齐
  gap: 1rem; // 歌曲间距
  padding-right: 1rem; // 最右侧不贴边
}

.podcast {
  width: 300px; // 固定宽度
  height: 300px; // 固定高度，实现正方形
  border: none;
  border-radius: 8px;
}
.subTitle {
  color: $subTitle;
}

@media (max-width: 768px) {
  .podcast-header-title {
    font-size: 30px;
    text-align: center;
  }
  .podcast-header-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .podcast {
    width: 300px;
  }
  .podcast-main-div {
    text-align: center;
  }
}
